<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/layout.html :: head">
</head>
<body >
<div class="wrapper">
    <header th:insert="fragments/layout.html :: header">
    </header>
    <main>
        <h1>Welcome to E-cantor</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam arcu dui, fringilla et lobortis nec, fringilla vel urna. Nulla id ultricies sem. Quisque ut varius neque. Quisque imperdiet ipsum dui, et elementum ipsum eleifend non. Curabitur sodales sit amet nunc a consectetur. Aenean elementum, mauris nec commodo porta, erat mi pulvinar erat, eget venenatis massa justo ac neque. Aliquam sit amet aliquet erat. In vestibulum turpis ac metus mattis finibus. Morbi aliquam nisl blandit, laoreet nisl quis, convallis quam. In sit amet lobortis sapien. Nulla feugiat lorem vitae neque accumsan, eget fringilla turpis tempus. In hac habitasse platea dictumst. Nam molestie ipsum quam, id rhoncus lectus tincidunt sed. Fusce aliquam quis neque a laoreet. Etiam quis scelerisque orci, vel suscipit elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam arcu dui, fringilla et lobortis nec, fringilla vel urna. Nulla id ultricies sem. Quisque ut varius neque. Quisque imperdiet ipsum dui, et elementum ipsum eleifend non. Curabitur sodales sit amet nunc a consectetur. Aenean elementum, mauris nec commodo porta, erat mi pulvinar erat, eget venenatis massa justo ac neque. Aliquam sit amet aliquet erat. In vestibulum turpis ac metus mattis finibus. Morbi aliquam nisl blandit, laoreet nisl quis, convallis quam. In sit amet lobortis sapien. Nulla feugiat lorem vitae neque accumsan, eget fringilla turpis tempus. In hac habitasse platea dictumst. Nam molestie ipsum quam, id rhoncus lectus tincidunt sed. Fusce aliquam quis neque a laoreet. Etiam quis scelerisque orci, vel suscipit elit.</p>
    </main>
    <footer th:insert="fragments/layout.html :: footer">
    </footer>

</div>
</body>
</html>